.loginWrapper {
  height: 100%;
  overflow: hidden;
  .find-password{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    a{
      margin-left: 5px;
      font-size: 16px;
    }
  }
}
